.content {
  text-align: center;
  width: 40%;
  margin: 40px auto;

  h1 {
    margin-bottom: 60px;
  }

  p {
    font-size: 16px;
  }

  .buttons {
    margin-top: 50px;
    a {
      margin-right: 20px;
    }
  }
}
